.blue {
  color: #2774AE;
}

.gold {
  color: #FFD100;
}

.white {
  color: white;
}

.blue-br {
  background-color: #2774AE;
}

.lightblue-br {
  background-color: #8BB8E8;
}

.darkblue-br {
  background-color: #003B5C;
}

.white-br {
  background-color: white;
}