#account-header {
    position: relative;
    line-height: 70px;
    border-bottom: #2774AE 3px solid;
}

#account-header-content {
    vertical-align: middle;
    padding: 0 100px;
    max-width: 1180px;
    margin: 0 auto;
}

#account-header-title {
    display: inline-block;
    font-size: 36px;
    letter-spacing: -1.5px;
}
  
#account-header-logo {
color:#FFD100;
font-size: 36px;
padding-right: 7px;
}

#account-header-userinfo {
    float: right;
  }
    #account-header-userinfo > *{
        margin-left: 36px;
        font-size: 17px;
        font-weight: bold;
    }

.account-header-userinfo-buttons {
    background-color: white;
    border: 1px solid #2774AE;
    border-radius: 0.25rem;
    padding: 14px;
    min-width: 140px;
    outline: none;
    font-size: 17px;
    font-weight: bold;
    }
    .account-header-userinfo-buttons:hover {
        background-color: #2774AE;
        color: white;
        opacity: 1;
    }

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 140px;
    z-index: 2000;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
    /* Content inside the dropdown */
    .dropdown-content div {
        line-height: 40px;
        vertical-align: middle;
        text-align: center;
        cursor: pointer;
    }  
    /* Change color of dropdown links on hover */
    .dropdown-content div:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .account-header-userinfo-buttons {
        background-color: #2774AE;
        color: white;
        opacity: 1; 
    }

/*Styling for page title and subtitle 
///////////////////////////////////*/
#account-main-content {
    margin: 0 auto;
    min-height: calc(99vh - 75px);
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

#account-main-heading {
    font-family: 'Nunito';
    font-size: 27px;
    margin-bottom: 10px;
}

#account-main-subheading {
    font-family: 'Nunito';
    font-size: 16px;
    margin: 10px;
}


/* Styling for planner editing buttons 
//////////////////////////////////////*/

#account-main-buttons {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    margin: 25px 0 30px 0;
}

.account-main-button:first-of-type {
    width: 30%;
    height: 50px;
    border-radius: 0.25rem;
    background-color: white;
    border: 1px solid #4BB543;
    color: #4BB543;
    font-size: 14px;
    outline: none;
}
    .account-main-button:first-of-type:hover {
        background-color: #4BB543;
        color: white;
        opacity: 0.7;
        z-index: 0;
    }
    .selected:first-of-type {
        background-color: #4BB543;
        color: white;
        opacity: 1;
        border: 1px solid black
    }    

.account-main-button:nth-of-type(2) {
    width: 30%;
    height: 50px;
    border-radius: 0.25rem;
    background-color: white;
    border: 1px solid #FFD100;
    color: #FFD100;
    font-size: 14px;
    outline: none;
}
    .account-main-button:nth-of-type(2):hover {
        background-color: #FFD100;
        color: white;
        opacity: 0.7;
    } 
    .selected:nth-of-type(2) {
        background-color: #FFD100;
        color: white;
        opacity: 1;
        border: 1px solid black
    }       

.account-main-button:nth-of-type(3) {
    width: 30%;
    height: 50px;
    border-radius: 0.25rem;
    background-color: white;
    border: 1px solid #FF9494;
    color: #FF9494;
    font-size: 14px;
    outline: none;
}
    .account-main-button:nth-of-type(3):hover {
        background-color: #FF9494;
        color: white;
        opacity: 0.7;
    }    
    .selected:nth-of-type(3) {
        background-color: #FF9494;
        color: white;
        opacity: 1;
        border: 1px solid black
    }


/* Styling for name of planner's display 
//////////////////////////////////////*/

#account-main-planners {
    width: 100%;
    max-height: 300px;
    margin: 5px 0 30px 0;
    overflow: auto;
}

.account-main-planner {
    display: inline-block;
    color: black;
    border: 1px black solid;
    border-radius: 0.25rem;
    margin-bottom: 20px;
    width: 90%;
    margin: 0 0 20px auto;
}
    .account-main-planner:hover {
        background-color: whitesmoke;
    }


.delete-mode-icon {
    display: inline;
    margin: 0px 10px 5px;
    width: 15px;
    height: auto;
    color: lightgray;
}
    .delete-mode-icon:hover {
        color: #FF9494
    }

.account-main-plan-name {
    margin-top: 10px;
    font-size: 25px;
    height: auto
}

.account-main-plan-major {
    font-size: 10px;
    margin-bottom: 10px;
}

/* Styling for pop-up prompt 
//////////////////////////*/

.popup-box {
    position: fixed;
    background: #00000050;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
  }
   
    .box {
        position: relative;
        z-index: 1000;
        width: 50%;
        margin: 0 auto;
        height: auto;
        max-height: 70vh;
        margin-top: calc(100vh - 85vh - 20px);
        background: #fff;
        border-radius: 0.75rem;
        padding: 20px;
        border: 1px solid #999;
        overflow: auto;
    }

    #popup-box-title {
        margin: 14px;
        font-size: 32px;
        text-align: center;
    }
    .popup-box-field {
        display: inline-block;
        margin: 10px 0 ;
        font-size: 22px  
    } 


    .popup-box-input {
        width: 100%;
        border-radius: 0.25rem;
        border: 1px solid gray;
        margin-bottom: 10px;
        font-size: 18px;
        height: 35px;
    }

    .popup-box-submit {
        margin: 10px 0;
        width: 100%;
        width: 100%;
        border-radius: 0.50rem;
        height: 50px;
        border: none;
        font-size: 22px;
        color: white;
    }

  
