#contact-main-content {
  margin: 0 auto;
  min-height: calc(99vh - 125px);
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

#contact-main-form {
  margin: 30px 0 20px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 0.5rem;
}

#contact-main-heading {
  font-family: 'Nunito';
  font-size: 34px;
  margin: 30px 0 15px;
}

#contact-main-subheading {
  font-family: 'Nunito';
  font-size: 16px;
  margin: 10px;
}

.contact-inputs {
    width: 80%;
  }

.contact-submit {
  border: none;
  border-radius: 3px;
  padding: 10px 30px ;
  margin: 12px 0 30px;
  font-size: 16px;
  height: 50px;
  font-weight: bold;
  width: 36%;
}