/*HEADER*/
#home-header {
    position: relative;
    line-height: 10.5vh;
    background-color: #2774AE;
    z-index: 1000;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

#home-header-content {
    vertical-align: middle;
    padding: 0 7vw
}

#home-header-title {
    display: inline-block;
    color: white;
    font-size: calc(2vw + 1vh);
    letter-spacing: -0.1vw;
}

#home-header-logo {
    color:#FFD100;
    font-size: calc(2vw + 1vh);
    padding-right: 0.5vw;
}

#home-header-navigation {
    float: right;
}
    #home-header-navigation > *{
        margin-left: 2.5vw;
        color: white;
        font-size: 2vh;
        font-family: 'Nunito';
        font-weight: bold;
    }
    #home-header-navigation > *:hover {
        opacity: 70%;
    }

.home-header-buttons {
    background-color: white;
    border: none;
    border-radius: 5%;
    padding: 1vw;
    font-weight: bold;
}
    .home-header-buttons:hover {
        opacity: 70%;
        cursor: pointer;
    }

/*Main Section*/
#home-main-section-title {
    margin: 0 auto;
    width: 60vw;
    line-height: 6vh;
    padding-top: 5.5vh;
    color: #2774AE;
    font-size: 2.5vw;
}

#home-main-section-description {
    margin: 0 auto;
    width: 45vw;
    line-height: 3vh;
    padding-top: 2.5vh;
    color: black;
    font-weight: 100;
    font-size: 1.2vw;
    font-family: 'Nunito';
}

.home-main-section-button {
    min-width: 10vw;
    padding: 3vh 4vw;
    border-radius: 7.5px;
    margin-top: 3vh;
    box-shadow: 0 5px 0 #003B5C;
    color: white;
    background-color: #2774AE;
    border: none;
    font-family: 'Catamaran';
    font-size: 1vw;
    z-index: 200;
}
    .home-main-section-button:hover{
        opacity: 70%;
        cursor: pointer;
    }


#home-main-section-mainimg {
    width: 45vw;
    height: 75vh;
    margin: -9vh;
    z-index: -40;
    position: relative;
}


.full-width-box {
    margin-top: -9vh;
    background-color: #8BB8E8;
    width: 100%;
    height: 25vh;
    border: none;
  }
  
/* Sub Section */
#home-sub-section-content {
    background-color: #2774AE;
    text-align: center;
    padding-bottom: 4vh;
}

#home-sub-section-title {
    margin: 0 auto;
    width: 50vw;
    line-height: 6vh;
    padding-top: 7vh;
    color: white;
    font-size: calc(2vw + 0.25vh);
    font-weight: lighter;
}

#home-sub-section-claims {
    margin: 0 auto;
    width: 65vw;
    padding: 5vh 0;
}

.claim {
    vertical-align: text-top;
    display: inline-block;
    width: 30%;
}

.circle {
    margin: 0 auto;
    border-radius: 50%;
    width: 80%;
    line-height: 15.6vw;
    background-color: #FFC72C;
}

.claim-icon {
    vertical-align: middle;
    color: white;
    min-width: 50%;
    height: auto;
}

.claim-description {
    color: white;
    margin-top: 2vh;
    min-width: 80%;
    font-family: 'Nunito';
}

