/*Home navigation header CSS found in App.css

/*Main Section*/
#home-main-section-title {
    margin: 0 auto;
    width: 850px;
    line-height: 42px;
    padding-top: 37.5px;
    color: #2774AE;
    font-size: 36px;
}

#home-main-section-description {
    margin: 0 auto;
    width: 660px;
    line-height: 21px;
    padding-top: 17px;
    color: black;
    font-weight: 100;
    font-size: 17.1px;
    font-family: 'Nunito';
}

.home-main-section-button {
    min-width: 142px;
    padding: 21px 56.8px;
    border-radius: 7.5px;
    margin-top: 21px;
    box-shadow: 0 5px 0 #003B5C;
    color: white;
    background-color: #2774AE;
    border: none;
    font-family: 'Catamaran';
    font-size: 14.2px;
    z-index: 200;
}


#home-main-section-mainimg {
    width: 639px;
    height: 540px;
    margin-top: -85px;
    z-index: -40;
    position: relative;
    -webkit-animation: jump 1.2s cubic-bezier(0.3, 1.2, 0.8, 1.2);
  animation: jump 1.2s cubic-bezier(0.3, 1.2, 0.8, 1.2);
}
@-webkit-keyframes jump {
  0% {
    transform: translateY(550px);
  }
  100% {
    transform: translateY(0px);
  }
}
@keyframes jump {
  0% {
    transform: translateY(550px);
  }
  100% {
    transform: translateY(0px);
  }
}


.full-width-box {
    width: 100%;
    height: 200px;
    border: none;
  }
  
/* Sub Section */
#home-sub-section-content {
    background-color: #2774AE;
    text-align: center;
    padding-bottom: 28px;
}

#home-sub-section-title {
    margin: 0 auto;
    line-height: 42px;
    padding-top: 49px;
    color: white;
    font-size: 30.5px;
    font-weight: lighter;
}

#home-sub-section-claims {
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin: 35px auto;
    width: 850px;
}

.claim {
    flex-basis: 30%;
}

.circle {
    margin: 0 auto;
    border-radius: 50%;
    width: 200px;
    line-height: 200px;
    background-color: #FFC72C;
}

.claim-icon {
    vertical-align: middle;
    color: white;
    min-width: 50%;
    height: auto;
}

.claim-description {
    color: white;
    margin-top: 14px;
}

/* Final Section */
#home-final-section-title {
    margin: 0 auto;
    line-height: 42px;
    padding-top: 49px;
    font-size: 30.5px;
    font-weight: lighter;
} 