#planner-sidebar {
    height: 100%;
    width: 14vw;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 2vh;
    text-align: center;
    background-color: #003B5C;
    box-shadow: 6.5px 0 5px -2px #888;
} 
  
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#planner-sidebar-title {
    display: inline-block;
    font-size: calc(1.5vw + 1vh);
    letter-spacing: -1.5px;
}
#planner-sidebar-logo {
color:#FFD100;
font-size: calc(1.5vw + 1vh);
padding-right: 0.3vw;
}

.planner-sidebar-content {
    text-align: left;
    padding-left: 1vw;
    color: white;
    font-size: calc(1vw + 0.5vh);
    line-height: 8vh;
    vertical-align: middle;
}
    .planner-sidebar-content:hover {
        background-color: #2774AE;
        cursor: pointer;
    }

#planner-sidebar-recycling-area {
    line-height: 18vh;
    min-height: 18vh;
    width: 14vw;
    margin: 45vh auto 0;
    background-color: #C3D7EE;
}

#planner-sidebar-recycling-area {
    font-size: 4vw;
    color:whitesmoke;
}

#planner-sidebar-recycling-des {
    font-size: 1vw;
    display: block;
}
#planner-sidebar-user {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 14vw;
    background-color: #2774AE;
    line-height: 8vh;
    vertical-align: middle;
    font-size: calc(1vw + 0.5vh);
    color: white;
    overflow: auto;
}
 
/* Styling for planner grid
/////////////////////////*/
#planner {
    margin-left: 14vw;
    width: calc(100% - 14vw);
    height: 60vh;
    margin-top: 3vh;
}

#planner-description {
    width: 83vw;
    margin: 0 auto;
    text-align: left;
}
    #planner-title {
        font-size: calc(1.5vw + 1vh);
        display: inline;
    }

    #planner-major {
        font-size: 1vw;
        font-weight: lighter;
        display: inline;
    }

    #planner-save-button-container {
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 2vw;
        margin-top: 1.2vh;
    }

    #planner-save-button {
        background-color:#44c767;
        border-radius:0.25rem;
        border:1px solid #18ab29;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-size:1vw;
        padding: 0.9vh 1vw;
        width: 9vw;
    }

    .planner-save-button-message {
        font-size: 0.8vw;
        text-decoration: underline;
        margin-right: 1vw;
    }

#planner-container {
    width: 83vw;
    margin: 0 auto;
    height: 54vh;
    display: flex;
    justify-content: space-between;
    overflow: auto;
}
    .planner-quarter {
        width: 6.75vw;
        height: 2000px;
        background-color: #C3D7EE;
    }
    .planner-quarter-title {
        font-size: 1vw;
        margin-top: 1.2vh;
    }
    .planner-quarter-line {
        border: 0.1vh solid black;
        background-color: black;
        margin: 1vh
    }

    .course-box {
        height: 6.5vw;
        width: 6.2vw;
        border: black solid 0.1vw;
        border-radius: 0.25rem;
        background: #FFE552;
        margin: 0 auto 1.2vh;
        overflow-y: auto;
        position: relative;
    }
    .course-name {
        line-height: 2vh;
        font-size: 0.7vw;
        
    }
    .course-id {
        padding-top: 1vh;
        line-height: 1.5vh;
        font-size: 0.8vw;
        font-weight: bold;
    }

/* Styling for searching classes
///////////////////////////////*/
#search-class {
    margin-left: 14vw;
    width: calc(100% - 14vw);
    height: 37vh;
}

#search-class-description {
    width: 83vw;
    margin: 0 auto;
    text-align: left;
}
    #search-class-title {
        font-size: calc(1vw + 1vh);
        display: inline;
    }
    #search-class-title-des {
        font-size: 0.7vw;
        font-weight: lighter;
        display: inline;
    }

    #search-class-input {
        width: 100%;
        border-radius: 0.25rem;
        border: 0.1vw solid gray;
        margin-bottom: 10px;
        font-size: 1vw;
        height: 4vh;
        display: block;
    }
    #search-class-input::placeholder {
        font-size: 1vw;
    }

    #search-class-container {
        width: 83vw;
        padding-top: 1vh;
        margin: 1vh auto;
        border: 0.1vw solid gray;
        background-color: #C3D7EE;
        height: 25.6vh;
        display: flex;
        overflow: auto;
        flex-wrap: wrap;
    }
    
    .search-class-course-container {
        flex-basis: calc(100%/12);
    } 

.search-class-noMatch {
    width: 83vw;
    margin: 1vh auto;
    border: 0.1vw solid gray;
    background-color: #C3D7EE;
    line-height: 25.3vh;
    font-size: 1vw;
    vertical-align: middle;
}